{{ define "main" }}
<main class="site-main post-13 page type-page status-publish hentry" id="content">


    <div class="page-content">
        <div class="elementor elementor-13" data-elementor-id="13" data-elementor-post-type="page"
             data-elementor-type="wp-page">
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-8deb5af elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="8deb5af">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fec0e42"
                         data-element_type="column" data-id="fec0e42">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-c2eb959 elementor-widget elementor-widget-image"
                                 data-element_type="widget" data-id="c2eb959" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <img alt="The Soil Factory" class="attachment-full size-full wp-image-15"
                                         decoding="async" fetchpriority="high"
                                         height="1388"
                                         sizes="(max-width: 2560px) 100vw, 2560px"
                                         src='{{ "img/2022/04/IMG_0241-scaled-e1649019109746.jpg" | relURL }}'/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-820d4f2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-element_type="section" data-id="820d4f2">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-07fef71"
                         data-element_type="column" data-id="07fef71">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-2e9887b elementor-widget elementor-widget-text-editor"
                                 data-element_type="widget" data-id="2e9887b" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <p><span style="font-weight: 400;"><span style="color: #000000;"><strong>The Soil Factory</strong></span> is a vibrant community space where art, science and sustainability come together to create new collaborations, new experiences and new ideas. We celebrate experimental learning while exploring new partnerships. We are artists, students, scientists, farmers, entrepreneurs, and interested members of the community who meet to discuss, play, learn, and seek new solutions for the issues of our day. <span
                                            style="color: #000000;"><strong>We are a</strong></span></span><span
                                            style="color: #000000;"><strong> place where everyone is welcome.</strong></span>
                                    </p>
                                    <p>
                                        Join us for future events. See our <a
                                            href='{{ "calendar" | relURL }}'>Calendar</a>.
                                        If you want to sign up for email announcements and join the community, email
                                        <a href="mailto:{{ .Site.Params.contact }}">{{ .Site.Params.contact }}</a>.
                                    </p>
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <h5 class="card-title">Please consider supporting our cause!</h5>
                                            <p>
                                        <span style="font-weight: 400;"><span style="color: #000000;"><strong>
                                            The Soil Factory is actively working to grow our community support.
                                        </strong></span>
                                            If you would like to directly contribute to the programs, events, and projects we offer, please consider <a
                                                    href='{{ site.Params.paypal }}'>becoming a monthly sustaining member</a>, or make a check out to Weave Community and mail it to the PO Box listed below. Thank you for your consideration!
                                            </p>
                                            <div class="container" style="min-width: 250px;">
                                                <div class="d-flex justify-content-center p-2">
                                                    <a class="btn btn-danger" href="{{ site.Params.paypal }}"
                                                       role="button" style="width:50%">
                                                        Donate!
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>


</main>
{{ end }}
